<app-breadcrumb 
  [itens]="[{text: 'Produtos', link: '/produtos'}, {text: tituloPagina}]">
</app-breadcrumb>

<app-page-header 
    [titulo-pagina]="tituloPagina" 
    button-text="<< Voltar"
    button-link="/produtos" 
    button-class="btn-light">
</app-page-header>

<form [formGroup]="produtoFormulario" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      Informações sobre o produto
    </div>

    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="descricao">Descrição</label>
          <input type="text" class="form-control" id="descricao" formControlName="descricao">

          <app-erro-campo-formulario [form-control]="produtoFormulario.get('descricao')">
          </app-erro-campo-formulario>
        </div>

        <div class="form-group col-md-8">
          <label for="preco">Preço</label>
          <input type="text" class="form-control" id="preco" formControlName="preco">

          <app-erro-campo-formulario [form-control]="produtoFormulario.get('preco')">
          </app-erro-campo-formulario>
        </div>
      </div>
    </div>
  </div>

  <button [disabled]="desabilitarBotaoSalvar || produtoFormulario.invalid" type="submit" class="btn btn-lg btn-primary float-right mt-3">Salvar</button>
</form>